<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Practica 1 CRUD</title>

  </head>
  <body>
    <div class="container mt-5" id="app">

        <h3>{{titulo}}</h3>

        <input type="text" class="form-control my-3" 
            v-model="nuevaTarea" 
            v-on:keyup.enter="agregarTarea" 
        />

        <button class="btn btn-primary" @click="agregarTarea" >
            Agregar
        </button>
        
        <div class="mt-3" v-for="(item, index) of tareas" >

            <div :class="['alert', item.estado ? 'alert-success' : 'alert-danger' ]" role="alert">
                <div class="d-flex justify-content-between align-items-center">
                    
                    <div>
                        {{index}} - {{item.nombre}} - {{item.estado}}
                    </div>
                    <div>
                        <button class="btn btn-success" @click="editarTarea(index)" >Ok</button>
                        <button class="btn btn-danger" @click="eliminar(index)" >X</button>
                    </div>

                </div>
            </div>

        </div>

    </div>

  
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>